@import "resources/resource";

body {
  font-size: 18px;
  font-family: $Barlow;
}

.header {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: map-get($colores, Light-Grayish-Blue);
    width: 170px;
    height: 400px;
    border-bottom-left-radius: 80px;
    z-index:1;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
    max-width: 1180px;
    margin: 0 auto;
    width: 97%;
    padding: 40px 20px;
  }

  &__logo {
    &--link {
      text-decoration: none;
    }
  }

  &__photo {
    cursor: pointer;
  }

  &__toggle {
    background-image: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 99999;

    &.active {
      background-image: url(../img/icon-close.svg);
    }
  }

  &__nav {
    position: absolute;
    width: 90%;
    top: 15%;
    left: 6%;
    background-color: #fff;
    z-index: 99998;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 0;
    padding: 0 20px;
    border-radius: 8px;
    transition: height 0.5s 0s ease, box-shadow 0.5s 0s ease;
    overflow: hidden;

    &.active {
      height: 230px;
      box-shadow: -1px 0px 18px 5px rgba(0, 0, 0, 0.21);
      -webkit-box-shadow: -1px 0px 18px 5px rgba(0, 0, 0, 0.21);
      -moz-box-shadow: -1px 0px 18px 5px rgba(0, 0, 0, 0.21);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  &__list {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $Barlow-Condensed;
    letter-spacing: 3px;
    color: map-get($colores, Very-Dark-Blue);
    font-weight: 600;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      bottom: -5px;
      left: 0;
      width: 0%;
      background-color: map-get($colores, Very-Dark-Blue);
      transition: width 0.5s 0s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__login {
    text-align: center;
    border-top: 1px solid map-get($colores, Grayish-Blue);
    width: 100%;
    padding: 15px 0;

    &--cta {
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      font-family: $Barlow-Condensed;
      letter-spacing: 3px;
      color: map-get($colores, Dark-Grayish-Blue);
      font-weight: 600;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 3px;
        bottom: -5px;
        left: 0;
        width: 0%;
        background-color: map-get($colores, Very-Dark-Blue);
        transition: width 0.5s 0s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
  /* HOME */
  &__home {
    position: relative;
    min-width: 280px;
    max-width: 1180px;
    margin: 0 auto;
    width: 97%;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "picture"
      "article";
    align-items: center;

    &--picture {
      grid-area: picture;
      min-height: 300px;
      max-height: 600px;
      width: 100%;
    }

    &--article {
      grid-area: article;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    &--photo {
      position: absolute;
      top: 2%;
      right: -70%;
      width: 200%;
      height: 220px;
      object-fit: contain;
      display: block;
      z-index: 10;
    }

    &--secondheading {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: $Barlow-Condensed;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
      color: map-get($colores, Dark-Grayish-Blue);

      & span {
        background-color: map-get($colores, Very-Dark-Blue);
        color: map-get($colores, Light-Grayish-Blue);
        padding: 4px 8px;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
      }
    }

    &--firstheading {
      font-family: $Barlow-Condensed;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 32px;
      color: map-get($colores, Very-Dark-Blue);
    }

    &--button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 15px;
    }

    &--paragraph {
      color: map-get($colores, Dark-Grayish-Blue);
    }

    &--btn {
      font-family: $Barlow-Condensed;
      text-transform: uppercase;
      background-color: map-get($colores, RedColor);
      color: map-get($colores, Light-Grayish-Blue);
      text-decoration: none;
      display: block;
      padding: 12px 16px;
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      letter-spacing: 1px;
      transition: opacity 0.5s 0s ease;

      &:hover {
        opacity: 0.7;
      }
    }

    &--cta {
      font-family: $Barlow-Condensed;
      text-transform: uppercase;
      color: map-get($colores, Grayish-Blue);
      text-decoration: none;
      display: block;
      font-size: 14px;
      cursor: pointer;
      letter-spacing: 2px;
      position: relative;
      transition: color 0.5s 0s ease;

      &::after {
        content: "";
        position: absolute;
        height: 3px;
        bottom: -5px;
        left: 0;
        width: 0%;
        background-color: map-get($colores, Very-Dark-Blue);
        transition: width 0.5s 0s ease;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        color: map-get($colores, Very-Dark-Blue);
      }
    }
  }
}
